@charset "utf-8";
/*AVAIBLE_VI
[
{"vicolor":"#cc261e"},
{"vicolor":"#B0C915"},
{"vicolor":"#37ACCB"},
{"vicolor":"#FB9100"}
]
AVAIBLE_VI*/
/*格式化*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
span,
input,
textarea {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
  padding-top: 1px;
  background: #fff;
}
li,
ol {
  list-style: none;
}
ins {
  text-decoration: none;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  font-family: "Microsoft Yahei";
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
.clear {
  clear: both;
  line-height: 0px;
  overflow: hidden;
  zoom: 1;
  font-size: 0px;
  content: '.';
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
img {
  padding: 0;
  margin: 0;
}
a img {
  border: none;
}
input,
textarea {
  border: none;
  font-family: "Microsoft Yahei";
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 14px;
}
/*排版通用*/
.f-mm {
  margin-left: auto;
  margin-right: auto;
}
/*居中对齐*/
.f-fl {
  float: left;
}
/*左浮动*/
.f-fr {
  float: right;
}
/*右浮动*/
.f-tr {
  text-align: right;
}
/*右对齐*/
.f-tl {
  text-align: left;
}
/*左对齐*/
.f-tc {
  text-align: center;
}
/*中间对齐*/
.f-pr {
  position: relative;
}
/*定位*/
.f-di {
  display: inline;
}
/* -- 页面整体布局 -- */
.wrap {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
/*网站首页宽度*/
.wrap img {
  width: 100%;
  display: block;
}
/*头部*/
.g-hd {
  height: 5rem;
  background-image: url(../images/tbbg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 32rem 5rem;
}
.g-hd h1 {
  max-width: 24.06%;
  height: 5rem;
  padding: 0.5rem 0;
  margin: 0 1rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.g-hd h1 img {
  display: block;
  max-width: 100%;
  width: auto;
  max-height: 4rem ;
}
.h_txt {
  height: 5rem;
  width: 50%;
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-align-content: center;
  flex-wrap: wrap;
  float: left;
  line-height: 1.4rem;
  color: #666;
}
.h_txt em {
  display: block;
  width: 100%;
  height: 1.4rem;
  font-size: 1.2rem;
  overflow: hidden;
}
.h_txt span {
  display: block;
  width: 100%;
  height: 1.4rem;
  font-size: 0.9rem;
  overflow: hidden;
}
.h_icon {
  float: right;
  width: 2rem;
  height: 5rem;
  margin-right: 1rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.h_icon img {
  width: 100%;
}
.h_icon em {
  display: none;
}
.h_nav1 {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 3;
  padding-bottom: 1rem;
  height: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.h_nav1 li {
  line-height: 3.5rem;
  height: 3.5rem;
  border-bottom: #fff 1px solid;
  margin: 0 1.5rem;
}
.h_nav1 li a {
  font-size: 1.3rem;
  color: #fff;
  display: block;
  width: 100%;
}
.h_nav1 li:last-child {
  border-bottom: 0;
}
/*底部*/
.g-ft {
  margin-top: 2rem;
  padding: 2rem 0 5rem;
  position: relative;
  text-align: center;
  background-color: #f2f2f2;
}
.on-top {
  position: absolute;
  width: 4.6rem;
  height: 4.1rem;
  left: 50%;
  top: -1.95rem;
  margin-left: -2.3rem;
  cursor: pointer;
}
.on-top img {
  width: 4.6rem;
  height: 4.1rem;
}
.g-ft h2 span {
  display: block;
  font-size: 1.1rem;
  line-height: 2rem;
  height: 2rem;
  color: #333;
  text-align: center;
  overflow: hidden;
}
.f_con {
  height: 9rem;
  overflow: hidden;
}
.f_con p {
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}
.f_con p a {
  color: #333;
}
.code {
  width: 17.5rem;
  margin: 0 auto;
  padding: 1.5rem 0;
}
.code p {
  float: left;
  width: 6rem;
  height: 6rem;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
}
.code p img {
  width: 6rem;
  height: 6rem;
}
.code h4 {
  float: left;
  width: 9.5rem;
  padding-top: 1rem;
}
.code h4 span {
  display: block;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 2.5rem;
  color: #353535;
  position: relative;
  overflow: hidden;
  padding-left: 30%;
  text-align: left;
}
.code h4 em {
  display: block;
  font-size: 1.2rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #353535;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.code h4 span::before {
  position: absolute;
  content: "";
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.9rem solid #959595;
  left: 1.4rem;
  top: 0.8rem;
}
.db_nav {
  height: 4rem;
  position: fixed;
  bottom: 0;
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  z-index: 999;
  background-color: #cc261e;
}
.db_nav li {
  height: 4rem;
  width: 25%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.db_nav li:last-child {
  border-right: 0;
}
.db_nav li a {
  display: block;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
}
/* 产品内容*/
.title {
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  overflow: hidden;
}
.about {
  margin: 0 3%;
}
.about-title {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #111;
  border-bottom: 1px solid #ddd;
  margin-bottom: .5rem;
  overflow: hidden;
}
.about-img {
  margin-bottom: .6rem;
}
.about-desc {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}
/*自适配*/
html {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 10.625px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 11.875px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 13.125px;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 14.375px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 15.625px;
  }
}
@media screen and (min-width: 520px) {
  html {
    font-size: 16.875px;
  }
}
@media screen and (min-width: 560px) {
  html {
    font-size: 18.125px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 19.375px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 20px;
  }
}
